body {
    background-color: #fff;
    
    font-size: 16px;
    color: blue;
 ;
    font-family: Helvetica, sans-serif;     
    margin: 5px;
    padding: 5px;
}
p {
    font-family:  Arial;
    font-size: 20px;
    
}

#main {
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1px;
}
.grid-item {
     padding: 2px;
    font-size: 30px;
    text-align: center;
  }

 .grid-item img {
     width: 400px;
     height: 400px;
 }

 form{
    padding: 15px;
    background-color: orange;
    font-style: italic;
    border-style: solid;
    font-weight: 1000px;
}
input[type=button]{
    color: black;
    font-style: italic;
    background-color: yellow; 
    padding: 5px;           

}
input[type=button]:hover{
    border: solid;
    background-color: rgb(0, 230, 0); 
              

}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  nav a {
    text-decoration: none;
    text-align: center;
     
    color: #464141;
    padding:10px;
    margin: 0px;
    font-family: sans-serif;
  }
  nav a:hover {
    background-color: darkblue;
    color: #ffffff;
  }

  .center {
      text-align: center;
  }

  footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  footer div {
    text-decoration: none;
    text-align: center;
     
    colo:r: #464141;
    padding:20px;
    margin: 0px;
    font-family: sans-serif;
  }

  footer img{
      width: 30px;
      height: 30px;
      padding: 15px;

  }