body {
    background-color: gainsboro;
    font-family: Helvetica, sans-serif;        
    font-size: 16px;
    color: blue;
 
    margin: 5px;
    padding: 5px;
}
p {
    font-family:  Arial;
    font-size: 20px;
    
}

#main{
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    
    padding: 1px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    
    padding: 2px;
    font-size: 30px;
    text-align: center;
  }

 .grid-item img {
     width: 400px;
     height: 400px;
 }

 form{
    padding: 15px;
    background-color: orange;
    font-style: italic;
    border-style: solid;
    font-weight: 1000px;
}
input[type=button]{
    color: black;
    font-style: italic;
    background-color: yellow; 
    padding: 5px;           

}
input[type=button]:hover{
    border: solid;
    background-color: rgb(0, 230, 0); 
              

}